@font-face{
  font-family: "cinzel-black";
  src:url("../fonts/cinzel-black-webfont.woff2") format("woff2"),
    url("../fonts/cinzel-black-webfont.woff") format("woff");
    font-weight:normal;
    font-style:normal;}
  @font-face{
    font-family: "cinzel-regular";
    src:url("../fonts/cinzel-regular-webfont.woff") format("woff"),
    url("../fonts/cinzel-regular-webfont.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
  }
  @font-face{
    font-family:"cinzel-bold";
    src:url("../fonts/cinzel-bold-webfont.woff") format("woff"),
    url("../fonts/cinzel-bold-webfont.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
}
body{
  background-color:#c93;
  max-width: 60em;
  padding: 0 1em;
  margin: 5% auto;
}
img{
width:auto;
  max-width:100%;
  height:auto;
}

header h1{
  font: normal 3em/1.1 "cinzel-black";
  color:#000;
  text-align:center;
}
@media (min-width: 48em) {

  header h1 {
    font-size: 4em;
  }

}

nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: .35em;
}

@media (min-width: 48em) {

  nav ol {
    text-align: center;
  }

  nav li {
    display: inline;
  }

}

a {
  font: normal 1em/1.1 "cinzel-bold","tahoma", sans-serif;
  color: #000;
}

p{
  font-family:"trebuchet ms", sans-serif;
  color:#000;
}
h2{
  font: normal 2em/1.1 "cinzel-bold","arial black", sans-serif;
  color:#000;
}
h3{
  font: normal 1.5em/1.1 "cinzel-bold","tahoma", sans-serif;
  color:#000;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
hr{
  clear: both;
}
@media (min-width: 48em) {
#intro img {
  float: left;
  margin: 0 2em 2em 0;
}

}
